<!DOCTYPE html>
<html>
<head>
  <title>Image search</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>

<body>
  <div id='image-search-app'></div>
  <script src="/js/bundle.js"></script>
</body>
</html>