$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import 'bootstrap-sass/assets/stylesheets/_bootstrap.scss';

.form-horizontal
	margin: 50px 25%;
	border: 1px solid;
	border-radius: 5px;
	padding: 10px;